//typography
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html,
body {
    font-family: var(--body-font-family);
    font-weight: var(--base-font-weight);
}

a {
    text-decoration: none;
    color: var(--blue);
    font-size: var(--p1);
    position: relative;

    &::after {
        position: absolute;
        content: "";
        width: 0;
        height: 1px;
        background-color: var(--blue);
        bottom: -4px;
        left: 0;
    }

    &:hover::after {
        width: 100%;
        transition: width ease-in 0.3s;
    }
}
