:root {
    --body-font-family: "Roboto", sans-serif;

    //fonts
    --base-font-weight: 400;

    --p1: 1rem;
    --p2: 0.875rem;
    --p3: 0.75rem;

    --h1: 2.25rem;

    //colors
    --blue: #1a4f8b;
    --blue-light: #30639e;
    --fb-blue: #385c8e;
    --fb-blue-light: #4976b6;
    --google-red: #f14436;
    --google-red-light: #ff6459;
    --dark-red: #bf1541;
    --black: #000;
    --white: #fff;
    --gray-light: #b0b0b0;
    --gray-dark: #767676;
    --gray-inputs: #c3c3c3;
}
